.app {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.w-50 {
  width: 50%;
  border-right: 1px solid #ccc;
}

h1 {
  padding-left: 1rem;
}

label {
  cursor: pointer;
}

p {
  margin: 0 0 0.5rem;
}

.text-blue {
  color: blue;
}

.text-black {
  color: black;
}

.users {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-list ul {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 150px;
}
